.app{
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 2em
  }

.lineOne{
    font-size: 25px;
    font-weight: bold;
}

.lineTwo{
    font-size: 25px;
}

.lineThree{
    font-size: 25px;
}

.forBorder{
    padding: 2em;
}

.colapseResult{
    padding: 1em;
    border: 10px solid white;
  outline: black solid 1px;
    background-color: #d5e7eb;
    background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #FFF192 95%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 95%, #FFF192 95%),
                        linear-gradient(175deg, rgba(0,0,0,0) 90%, #FFF192 90%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 92%, #FFEA61 92%),
                        linear-gradient(175deg, rgba(0,0,0,0) 85%, #FFEA61 85%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 89%, #FFEA61 89%),
                        linear-gradient(175deg, rgba(0,0,0,0) 80%, #FFDD3C 80%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 86%, #FFDD3C 86%),
                        linear-gradient(175deg, rgba(0,0,0,0) 75%, #FFDD3C 75%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 83%, #FFD400 83%),
                        linear-gradient(175deg, rgba(0,0,0,0) 70%, #FFD400 70%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 80%, #FFD400 80%);
}

.card{
    display: flex;
    justify-content: center;
    width: 200%;
}

.retItem{
    padding:1em, 1em;
    padding-left: 1em;
    padding-right: 1em;

    width: 100%;
    height: 200px; 
    box-sizing: border-box;
    background-color: #d5e7eb;
    background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #FFF192 95%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 95%, #FFF192 95%),
                        linear-gradient(175deg, rgba(0,0,0,0) 90%, #FFF192 90%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 92%, #FFEA61 92%),
                        linear-gradient(175deg, rgba(0,0,0,0) 85%, #FFEA61 85%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 89%, #FFEA61 89%),
                        linear-gradient(175deg, rgba(0,0,0,0) 80%, #FFDD3C 80%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 86%, #FFDD3C 86%),
                        linear-gradient(175deg, rgba(0,0,0,0) 75%, #FFDD3C 75%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 83%, #FFD400 83%),
                        linear-gradient(175deg, rgba(0,0,0,0) 70%, #FFD400 70%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 80%, #FFD400 80%);
  }

.mainTable{
    font-size: 20px;


    width: 100%;

}

.horizontal{
   border-top: 3px solid black; 
   
}

.tableRow{
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    background-color: #d5e7eb;
    background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #FFF192 95%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 95%, #FFF192 95%),
                        linear-gradient(175deg, rgba(0,0,0,0) 90%, #FFF192 90%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 92%, #FFEA61 92%),
                        linear-gradient(175deg, rgba(0,0,0,0) 85%, #FFEA61 85%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 89%, #FFEA61 89%),
                        linear-gradient(175deg, rgba(0,0,0,0) 80%, #FFDD3C 80%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 86%, #FFDD3C 86%),
                        linear-gradient(175deg, rgba(0,0,0,0) 75%, #FFDD3C 75%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 83%, #FFD400 83%),
                        linear-gradient(175deg, rgba(0,0,0,0) 70%, #FFD400 70%),
                        linear-gradient( 85deg, rgba(0,0,0,0) 80%, #FFD400 80%);
}

.tableD{
    border: 6px solid white;
}